/* 
*Config Setup Grid System and framework
*/
@use "../../node_modules/normalize.css/normalize.css";
@use "../../node_modules/flexboxgrid/css/flexboxgrid.min.css";

@use "uniform" as * with (
  $config: (
    important: true,
    colors: (
      primary-blue-1: #10bbf1,
      primary-blue-2: #324a57,
      secondary-grey-1:#fafafa,
      secondary-grey-2:#d8d8d8
    ),
  )
);
  .l-container{
    max-width:1200px;
    margin:0 auto;
    padding-left:2rem;
    padding-right:2rem;
  }
  body{
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
@import "components/partials1";


